@{
    ViewData["Title"] = "Home Page";
    var token = TempData["Token"] as string;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div class="form-group">
        <input id="tokenInput" type="text" class="form-control" style="background-color: lightgreen;" value="@token" readonly />
        <button id="copyButton" class="btn btn-primary">Copy</button>
    </div>
</div>

@section Scripts {
    <script>
        document.getElementById("copyButton").addEventListener("click", function () {
            var tokenInput = document.getElementById("tokenInput");
            tokenInput.select();
            document.execCommand("copy");
            alert("Token copied to clipboard");
        });
    </script>
}